body {
    margin: 0;
}

.forest {
    margin: 25px;
    border: 2px dashed #ccc;
    transition: all 2s ease;
    animation: forest 12s infinite;
    animation-delay: 2s;
}

.moon {
    fill: #fff;
}

.circle {
    fill: #fcad3a;
    animation: sun 12s infinite;
    animation-delay: 2s;
}

.tree {
    animation: tree 12s infinite;
    animation-delay: 2s;
}

.moon {
    animation: moon 12s infinite;
    animation-delay: 2s;
}

@keyframes forest {
    0%,
    100% {
        background-color: #fff;
    }
    
    50% {
        background-color: rgb(23, 23, 36);
        border: none;
    }
}

@keyframes sun {
    0%,
    100% {
        transition: all 3s ease-in;
        transform: translate(0, 0);
    }

    50% {
        fill: #ccc;
        transition: all 3s ease-in;
        transform: translate(60px, -5px);
    }
}

@keyframes tree {
    0%,
    100% {
        transition: all 3s ease-in;
        transform: translate(0, 0);
    }

    50% {
        transition: all 3s ease-in;
        transform: translate(-55px, 0);
    }
}

@keyframes moon {
    0%,
    100% {
        fill: #fff;
        transition: all 3s ease-in;
    }
    
    50% {
        fill: rgb(23, 23, 36);
        transition: all 3s ease-in;
    }
}
